body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
  }
  .navbar{
    display: flex;
    width: 100%;
    /* justify-content: space-evenly; */
    padding: 0 0px 0 0px ; 
    background-color:  #07452a;
    height: 40px;
    align-items: center ;
    font-family: 'futura', futura-bold;
    font-size: larger;
    color: white;
  }
  .navbar a{
    text-decoration: none;
    color: white;
  }
  .navbar li{
    text-decoration: none;
    color: white;
  }
  .menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 0 520px ; 
    background-color:  #07452a;
    height: 40px;
    align-items: center ;
    font-family: 'futura', futura-bold;
    font-size: larger;
    color: white;
    float: right;
    margin-left: 00px;
    list-style-type: none;
  }
  .LOGO-PANDAWA{
    width: 3%;  
  }
  .LOGO{
    font-size: 10pt;
  }
  .Home{
    background-color: rgb(130, 12, 12);
    font-size: large;
    font-family: 'futura md bt';
    padding: 5px 0 150px 0;
    color: white;
  }

  .text{
    margin: 10px;

  }
  .Footer{
    background-color:  #07452a;
    font-family: 'futura md bt';
    padding: 10px;
    color: white;
  }
  .SEKOLAH{
    display: flex;
    justify-content: center;
    padding:0 0 0 0;
    height:20%
  }
  .SEKOLAH-1{
    width: 60%;
    justify-content: center;
  }
  .TEKS-TENGAH {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'futura', futura-bold;
    color: white;
  }
  .TEKS-TENGAH-1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'futura', futura-bold;
    color: white;
  }
  .insta{
    font-family: 'futura', futura-bold;
}