@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgb(130, 12, 12);
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    width: 100%;
    /* justify-content: space-evenly; */
    padding: 0 0px 0 0px ; 
    background-color:  #07452a;
    height: 40px;
    align-items: center ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: larger;
    color: white;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 0 700px ; 
    background-color:  #07452a;
    height: 40px;
    align-items: center ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
     font-size: larger;
    color: white;
    float: right;
    margin-left: 0px;
    list-style-type: none;
}
.menu a:hover{
    text-decoration: underline;
    color: yellow ;
    position:relative;
    top:-5px;
}
.LOGO-PANDAWA{
    width: 3%;  
}
.LOGO{
    font-size: 10pt;
    font-weight: 900;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 100;
}

.top-wrapper {
    /* padding: 1080px 0 100px 0; */
    background-image: url(SEKOLAH\ DAGANG2.png);
    background-size: cover;
    /* border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; */
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 2%;
    
}
.top-wrapper h1 {
    font-size: 70px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    margin: 0;
}
.top-wrapper p {
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}
.daftarkan{
    font-size: 50px;
    /* margin-bottom: 6px; */
    padding-bottom: 6px;
    
}
.btn {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 0px 24px;
    display: inline-block;
    border-radius: 4px;
}
.btn p{
    margin-bottom: 10px;
}
.btn-signup {
    background-color: rgb(130, 12, 12);
    border-radius: 20px;
    padding: 6px;
}
.btn-facebook {
    background-color:rgb(130, 12, 12);
    margin-right: 10px;
    border-radius: 20px;
    padding: 6px;
}
.btn-twitter {
    background-color: rgb(130, 12, 12);
    border-radius: 20px;
    padding: 6px;
}
.btn-signup:hover {
    background-color: yellow;
    color: black;
    position:relative;
    top:-5px;
}
.btn-facebook:hover {
    background-color: yellow;
    color: black;
    position:relative;
    top:-5px;
}
.btn-twitter:hover {
    background-color: yellow;
    color: black;
    position:relative;
    top:-5px;
}
.Home{
    background-color: rgb(130, 12, 12);
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 2% 0 4% 0;
    margin-top: 80px;
    align-items: center;
    text-align: left;
    padding: 10px;
    
    
}
.Home p {
    font-weight: 500;
    padding-left: 15px;
    
    
}
.Home li {
    font-weight: 500;
}
.text{
    margin: 10px;
    border: white;
    border-style: solid;
    border-radius: 40px;
    padding: 10px;
    margin-right: 10px;
}
.artikel{
    padding-left: 10px;
    margin-right: 10px;
    
}
.artikel-teks{
    margin: 0px;
    padding: 10px;
    font-weight: 700;
    border: white;
    border-style: solid;
    border-radius: 40px;
}
.kontak{
    margin: 0px;
    border: white;
    border-style: none none solid none;
    padding: 10px;
    font-weight: 700;
}
.contact-form{
    padding-top: 20px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.submit{
    background-color: whitesmoke;
    color: black;
    border-style: solid;
    border-color: whitesmoke;
    padding: 6px;
    border-width: 0;
    
}
.kolom-koran{
    -webkit-column-count: 3;
    column-count: 3;
    padding-left: 10px;
}
.kolom-koran span{
    font-size: 50px;
    font-weight: 700;
}
.footer{
    background-color: #07452a   ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
    padding: 5px;
}
